img {
	width: 100px;
	border-radius: 20%;
}

body {
	background-color: #Fbe56e;
	font-family: "Comic Neue", cursive;
        font-weight: 300;
        font-style: normal;
  }

 h1 { 
        font-family: "Comic Neue", cursive;
        font-weight: 700;
        font-style: normal;
 }
